$primary-normal:#6f233f;
$primary-light:#a0445d;

$secondary-dark:#cb5c64;
$secondary-normal:#e4908a;
$secondary-light: #eaa59f;

$black-normal: #000;
$cinza-light:#545454;

$white-normal: #ffffff;
$white-second: #f4dadb;
$white-dark: #FEF5DA;




