header {
    width: 100%;
    height: 8vh;
    // top: 0px;
    // left: 0px;
    z-index: 1;
    position: fixed;
}

.wrapper.rolagem {
    background-color: $primary-normal;

}

.wrapper {
    top: 5px;
    max-width: 100%;
    margin: auto;
    padding: 0 1%;
    transition: 1s;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    border-radius: 0.4rem;

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        .link:after {
            content: "";
            position: absolute;
            background-color: $secondary-dark;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;
        }

        .link:hover:after {
            width: 100%;
        }

    }

    .logo {
        font-weight: 700;
        max-width: 150px;
    }
}

nav #toggle,
nav label {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: $white-normal;
    font-size: 18px;
    padding: 2 10px;
    letter-spacing: 0.5px;
    position: relative;
}

i {
    color: $white-normal;
}

.header-button {
    border: 1px solid $secondary-dark;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    background-color: $secondary-dark;

}

@media screen and (max-width:951px) {
    .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        ul {
            flex-direction: column;
            align-items: center;
            // padding: 0.5rem 0;
    }
}
    nav label {
        display: inline-flex;
        color: $white-normal;
        cursor: pointer;
        visibility: visible;
    }

    nav #toggle:checked~.menu {
        height: 23vh;
        

    }

    .header-button {
        display: none;
    }

    .wrapper {
        background-color: $primary-normal;

    }
}