.container{
    max-width: 100%;
    margin: auto 0;
    padding: 0 8px;
}

.hero{
    color: $white-normal;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    h1{
        
        line-height: 150%;
        max-width: 940px;
        font-size: clamp(48px,4vw,54px);
    }
    h3{
        
        line-height: 10px;
        max-width: 940px;
        font-size: clamp(20px,3vw,22px);
        margin-top: 15%;
        
    }
    p{
        
        margin: 24px 0;
        font-size: clamp(18px,3vw,20px);
    }
    img{
        max-width: 430px;
        border-radius: 50%;
    }
}

.button-contact{
    border: 1px solid $secondary-dark;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
    font-size: 32px;
    font-weight: 600;
    margin: 28px 0;
    max-width: 100%;
}

@media (max-width: 40.925em) {
    .hero{
        padding: 34px 0;
        min-height: 60vh;
        flex-direction: column;
        text-align: center;
        img{
            max-width: 280px;
            border-radius: 50%;
        }
    }
    
.hero::before{
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 34px;
}
}


.button-contact:hover{
    background-color: $secondary-dark;

}

.psicanalise{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: $cinza-light;
    background-color: $white-normal;
    padding: 15px;
    max-width: 100%;

}
#lottie-psicanalise{
    margin-left: 50px;
}

.psicanalise-conteudo{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
        margin: 32px;
        font-size: clamp(48px,4vw,54px);
    }
    p{
        text-align: center;
        columns: 558px 1;
        font-size: 24px;
    }
    margin: 0 auto;
}

@media (max-width: 40.925em) {
    .psicanalise{
        flex-direction: column-reverse;
        columns: 250px 1;

    }


}
.separadores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(24px,3vw,30px);
    width: 100%;
    left: 0;
    height: 100px;
    overflow: hidden;
    background-color: $secondary-normal;
    color: $white-dark;
    padding: 30px;
}

.constelacao-familiar{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: $white-dark;
    background-color: $secondary-dark;
    max-width: 100%;

}
.constelacao-familiar-conteudo{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
        margin: 32px;
        font-size: clamp(48px,4vw,54px);
    }
    p{
        text-align: center;
        columns: 558px 1;
        font-size: 24px;
    }
    margin: 0 auto;
}

@media (max-width: 40.925em) {
    .constelacao-familiar{
        flex-direction: column-reverse;
        columns: 250px 1;

    }
}