@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.wrapper.rolagem {
  background-color: #6f233f;
  padding: 0px 4%;
}

.wrapper {
  top: 5px;
  max-width: 100%;
  margin: auto;
  padding: 20px 4%;
  transition: 1s;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav ul .link:after {
  content: "";
  position: absolute;
  background-color: #cb5c64;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul .link:hover:after {
  width: 100%;
}
nav .logo {
  font-weight: 700;
  max-width: 150px;
}

nav #toggle, nav label {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 2 10px;
  letter-spacing: 0.5px;
  position: relative;
}

i {
  color: #ffffff;
}

.header-button {
  border: 1px solid #cb5c64;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  background-color: #cb5c64;
}

@media (max-width: 40.825em) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: #ffffff;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .header-button {
    display: none;
  }
  .wrapper {
    background-color: #6f233f;
  }
}
.container {
  max-width: 100%;
  margin: auto 0;
  padding: 0 8px;
}

.hero {
  color: #ffffff;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.hero h1 {
  line-height: 150%;
  max-width: 940px;
  font-size: clamp(48px, 4vw, 54px);
}
.hero h3 {
  line-height: 10px;
  max-width: 940px;
  font-size: clamp(20px, 3vw, 22px);
  margin-top: 15%;
}
.hero p {
  margin: 24px 0;
  font-size: clamp(18px, 3vw, 20px);
}
.hero img {
  max-width: 430px;
  border-radius: 50%;
}

.button-contact {
  border: 1px solid #cb5c64;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.8s;
  font-size: 32px;
  font-weight: 600;
  margin: 28px 0;
  max-width: 100%;
}

@media (max-width: 40.925em) {
  .hero {
    padding: 34px 0;
    min-height: 60vh;
    flex-direction: column;
    text-align: center;
  }
  .hero img {
    max-width: 280px;
    border-radius: 50%;
  }
  .hero::before {
    content: "";
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 34px;
  }
}
.button-contact:hover {
  background-color: #cb5c64;
}

.psicanalise {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  color: #545454;
  background-color: #ffffff;
  padding: 15px;
  max-width: 100%;
}

#lottie-psicanalise {
  margin-left: 50px;
}

.psicanalise-conteudo {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 14px;
}
.psicanalise-conteudo h2 {
  text-align: center;
  margin: 32px;
  font-size: clamp(48px, 4vw, 54px);
}
.psicanalise-conteudo p {
  text-align: center;
  -moz-columns: 60% 1;
       columns: 60% 1;
  font-size: 28px;
}

.listas {
  border: 1px solid #cb5c64;
  border-radius: 4px; /* Isso arredonda as bordas das caixas */
  padding: 40px; /* Isso adiciona espaço dentro das caixas */
  margin: 10px; /* Isso adiciona espaço entre as caixas */
  width: 100%; /* Isso define a largura de cada caixa para 30% do container */
  font-size: 24px;
}
.listas ul {
  list-style: none;
}

@media (max-width: 40.925em) {
  .psicanalise {
    flex-direction: column-reverse;
    -moz-columns: 250px 1;
         columns: 250px 1;
  }
}
.separadores {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(24px, 3vw, 30px);
  width: 100%;
  left: 0;
  height: 100px;
  overflow: hidden;
  background-color: #e4908a;
  color: #FEF5DA;
  padding: 30px;
}

.constelacao-familiar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #FEF5DA;
  background-color: #cb5c64;
  max-width: 100%;
}

.leis-constelacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;
}
.leis-constelacao img {
  max-width: 430px;
}

.constelacao-familiar-conteudo {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.constelacao-familiar-conteudo h2 {
  text-align: center;
  margin: 32px;
  font-size: clamp(48px, 4vw, 54px);
}
.constelacao-familiar-conteudo p {
  text-align: center;
  -moz-columns: 558px 1;
       columns: 558px 1;
  font-size: 24px;
}

@media (max-width: 40.925em) {
  .constelacao-familiar {
    flex-direction: column;
    -moz-columns: 250px 1;
         columns: 250px 1;
  }
  #lottie-psicanalise {
    margin-left: 0;
  }
}
.sobre {
  background-color: #ffffff;
}

.sobre-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 34px 0;
  margin: 0 auto;
}
.sobre-content h2 {
  text-align: center;
  margin: 32px;
  font-size: clamp(48px, 4vw, 54px);
}
.sobre-content p {
  text-align: center;
  -moz-columns: 558px 1;
       columns: 558px 1;
  font-size: 24px;
}
.sobre-content img {
  max-width: 430px;
  border-radius: 3%;
}

@media (max-width: 40.925em) {
  .sobre-content {
    flex-direction: column;
    -moz-columns: 250px 1;
         columns: 250px 1;
  }
}
.Contato {
  color: #ffffff;
  align-items: center;
}
.Contato h3 {
  line-height: 10px;
  max-width: 940px;
  font-size: clamp(20px, 3vw, 22px);
  margin: 12px 0;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #e4908a;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #cb5c64;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #eaa59f;
}/*# sourceMappingURL=sytle.css.map */