@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 8vh;
  z-index: 1;
  position: fixed;
}

.wrapper.rolagem {
  background-color: #6f233f;
}

.wrapper {
  top: 5px;
  max-width: 100%;
  margin: auto;
  padding: 0 1%;
  transition: 1s;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  border-radius: 0.4rem;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav ul .link:after {
  content: "";
  position: absolute;
  background-color: #cb5c64;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul .link:hover:after {
  width: 100%;
}
nav .logo {
  font-weight: 700;
  max-width: 150px;
}

nav #toggle,
nav label {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 2 10px;
  letter-spacing: 0.5px;
  position: relative;
}

i {
  color: #ffffff;
}

.header-button {
  border: 1px solid #cb5c64;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  background-color: #cb5c64;
}

@media screen and (max-width: 951px) {
  .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  nav label {
    display: inline-flex;
    color: #ffffff;
    cursor: pointer;
    visibility: visible;
  }
  nav #toggle:checked ~ .menu {
    height: 23vh;
  }
  .header-button {
    display: none;
  }
  .wrapper {
    background-color: #6f233f;
  }
}
.container {
  max-width: 100vw;
  margin: auto 0;
  padding: 0 8px;
}

.hero {
  color: #ffffff;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}
.hero h1 {
  line-height: 150%;
  max-width: 940px;
  font-size: clamp(48px, 4vw, 54px);
}
.hero h3 {
  line-height: 10px;
  max-width: 940px;
  font-size: clamp(20px, 3vw, 22px);
  margin-top: 15%;
}
.hero p {
  margin: 24px 0;
  font-size: clamp(18px, 3vw, 20px);
}
.hero img {
  max-width: 430px;
  border-radius: 50%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-contact {
  border: 1px solid #cb5c64;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: background-color 0.8s;
  font-size: 32px;
  font-weight: 600;
  margin: 28px 0;
  max-width: 100%;
}

.button-contact:hover {
  background-color: #cb5c64;
}

@media screen and (max-width: 951px) {
  .hero {
    padding: 120px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .hero img {
    max-width: 280px;
    border-radius: 50%;
  }
  .hero::before {
    content: "";
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 34px;
  }
}
.psicanalise {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #545454;
  background-color: #ffffff;
}
.psicanalise div {
  flex-grow: 1;
}

#lottie-psicanalise {
  margin-left: 50px;
}

.psicanalise-conteudo {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 14px;
}
.psicanalise-conteudo h2 {
  margin: 32px;
  font-size: clamp(48px, 4vw, 54px);
}
.psicanalise-conteudo p {
  text-align: center;
  -moz-columns: 60% 1;
       columns: 60% 1;
  font-size: 28px;
}

.listas {
  border: 1px solid #cb5c64;
  border-radius: 4px;
  /* Isso arredonda as bordas das caixas */
  padding: 40px;
  /* Isso adiciona espaço dentro das caixas */
  margin: 10px;
  /* Isso adiciona espaço entre as caixas */
  width: 100%;
  /* Isso define a largura de cada caixa para 30% do container */
  font-size: 24px;
}
.listas ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .psicanalise {
    flex-direction: column-reverse;
    -moz-columns: 250px 1;
         columns: 250px 1;
  }
  #lottie-psicanalise {
    margin-left: 0;
  }
}
.separadores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  height: 20vh;
  background-color: #e4908a;
  color: #FEF5DA;
  padding: 30px 0;
}

.constelacao-familiar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #FEF5DA;
  background-color: #cb5c64;
  overflow: hidden;
}

.leis-constelacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;
}
.leis-constelacao img {
  max-width: 430px;
}

.constelacao-familiar-conteudo {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.constelacao-familiar-conteudo h2 {
  text-align: center;
  margin: 32px;
  font-size: clamp(48px, 4vw, 54px);
}
.constelacao-familiar-conteudo p {
  text-align: center;
  -moz-columns: 558px 1;
       columns: 558px 1;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .constelacao-familiar {
    flex-direction: column;
    -moz-columns: 250px 1;
         columns: 250px 1;
  }
  .leis-constelacao {
    flex-direction: column;
  }
}
.sobre-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.sobre-content h2 {
  text-align: center;
  margin: 60px;
  font-size: clamp(48px, 4vw, 54px);
}
.sobre-content p {
  text-align: justify;
  -moz-columns: 558px 1;
       columns: 558px 1;
  font-size: 24px;
  margin: 40px;
}
.sobre-content img {
  max-width: 430px;
  border-radius: 3%;
  margin: 0 24px;
}

@media screen and (max-width: 768px) {
  .sobre-content {
    flex-direction: column;
    -moz-columns: 300px 1;
         columns: 300px 1;
    padding: 12px 0;
  }
  .sobre-content img {
    max-width: 300px;
    margin: 0 4px;
  }
  p {
    padding: 2px;
    margin: 0;
  }
}
.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #545454;
}
.footer img {
  width: 280px;
}
.footer h3 {
  font-size: 25px;
  color: #FEF5DA;
  padding: 8px 0;
}

.btn-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 12px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -130px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #6f233f;
  color: #FEF5DA;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp {
    bottom: 8px;
    right: 15px;
  }
  .btn-whatsapp img {
    max-width: 54px;
  }
}
body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #e4908a;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

p, li {
  font-family: "Montserrat", serif;
}/*# sourceMappingURL=sytle.css.map */